{% extends "base.html" %}

{% block page_script %}
<script>
	jQuery(document).ready(function($) {
		$("#nav-home").addClass('active');
	});
</script>
{% endblock %}
{% block content %}
		<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>Entrepreneurship</h1><h2>is living a few years of your like like most people won't, so that you can spend the rest of your life like most people can't. </h2>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->


	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-8">
				
				<h1>WHO WE ARE</h1>
				<p>Engineers' Forum for Entrepreneurship Awareness (E-FOREA) is the E-CELL of NITK.</p>

				<p>Engineers' Forum for Entrepreneurship Awareness (EFOREA) is the E-Cell of NITK. It's raison d'etre (as its more verbose members would say) is to disseminate entrepreneurship education among students, and encourage them to come up with unique ideas - and then build on those ideas to start their own venture.E-FOREA was awarded the best technical school promoting entrepreneurship education in India by Intel and NITIE, in 2012.</p>
				
				<p>E-FOREA provides entrepreneurship education, incubation facility to start-ups and conducts flagship B-Plan and other Business events. E-FOREA has a robust network of budding entrepreneurs and partner E-CELLS across India, as well as an enthusiastic alumni network. E-FOREA is a part of National Entrepreneurship Network (NEN) and partners with NITK-STEP and Department of Science and Technology (DST), Govt. of India.</p>
			</div><!-- col-lg-4 -->

			<!-- col-lg-4 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->


	<!-- PORTFOLIO SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<br><br>
				<div class="col-lg-8 col-lg-offset-2">
					<h4>OUR MISSION</h4>
					<p>To disseminate entrepreneurial knowledge in the premises whilst nurturing revolutionary ideas and translating them into successful start-ups.</p>
				<p><br/><br/></p>
				</div>
				<div class="col-lg-2"></div>
				<div class="col-lg-10 col-lg-offset-1">
					<img class="img-responsive" src="/static/static_pages/img/munter.jpg" alt="">
				</div>
			</div><!-- row -->
		</div>
	</div><!-- DG -->


	<!-- FEATURE SECTION -->
	<div class="container wb">
		<div class="col-lg-8 col-lg-offset-2">
			<h4>OUR VISION</h4>
			<p>To invigorate change and progress using entrepreneurship as an instrument and thus serve as an incubation facility for start-ups that will accomplish this change. Network with other E-Cells for improving entrepreneurial awareness.</p>
		<p><br/><br/></p>
		</div>
	</div><!-- container -->


	
	
{% endblock %}